# Editor directories and files
.idea
.vscode/
*.iws
*.iml
*.ipr
out/
HELP.md

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Dependency directories
.gradle

# Ignore bin directories
**/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Build directories and files
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
